/*html {
	margin: 0;
	padding: 0;
	border: 0;
}
*/

/* .lead {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
} */
.icon {
	max-width: 10%;
	height: auto;
	display: inline-block;
}

/*About*/

.content {
	padding: 2rem;
}

#googleMap {
	width:100%;
	height:400px;
}

/*Menü*/
